@font-face {
  font-family: 'Metropolis - Thin';
  src: local("Metropolis Thin"), local("Metropolis-Thin"), url("../fonts/Metropolis/Metropolisthin.woff2") format("woff2"), url("../fonts/Metropolis/Metropolisthin.woff") format("woff"), url("../fonts/Metropolis/Metropolisthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: local("Metropolis"), local("Metropolis-Regular"), url("../fonts/Metropolis/Metropolis.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis.woff") format("woff"), url("../fonts/Metropolis/Metropolis.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: local("Metropolis Medium"), local("Metropolis-Medium"), url("../fonts/Metropolis/Metropolismedium.woff2") format("woff2"), url("../fonts/Metropolis/Metropolismedium.woff") format("woff"), url("../fonts/Metropolis/Metropolismedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: local("Metropolis"), local("Metropolis-Regular"), url("../fonts/Metropolis/Metropolis.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis.woff") format("woff"), url("../fonts/Metropolis/Metropolis.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Metropolis-Semi Bold';
  src: local("Metropolis Semi Bold"), local("Metropolis-SemiBold"), url("../fonts/Metropolis/Metropolissemibold.woff2") format("woff2"), url("../fonts/Metropolis/Metropolissemibold.woff") format("woff"), url("../fonts/Metropolis/Metropolissemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: local("Metropolis Bold"), local("Metropolis-Bold"), url("../fonts/Metropolis/Metropolisbold.woff2") format("woff2"), url("../fonts/Metropolis/Metropolisbold.woff") format("woff"), url("../fonts/Metropolis/Metropolisbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis - Extra Bold';
  src: local("Metropolis Extra Bold"), local("Metropolis-ExtraBold"), url("../fonts/Metropolis/Metropolisextrabold.woff2") format("woff2"), url("../fonts/Metropolis/Metropolisextrabold.woff") format("woff"), url("../fonts/Metropolis/Metropolisextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

/* SPECIFICATIONS */
body {
  font-family: 'Metropolis';
  color: #868484;
  overflow: overlay; }

body, html {
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s; }
  a:hover {
    text-decoration: none; }

.container {
  max-width: 1250px;
  margin: auto; }

input {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }

button {
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  border: none; }
  button:focus {
    outline: none; }
  button:hover {
    cursor: pointer; }

/* VALIDATE_FORMES_SPECIFICATION */
.error {
  border: 1px solid red !important; }

/* HEADER */
.header {
  background: #3b739f;
  padding-bottom: 200px;
  background: url(../img/header/header-bg.png) no-repeat left top/cover #3b739f; }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 2fr 5fr;
    grid-row-gap: 110px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-areas: "header-logo . header-menu" ". header-text ."; }
  .header-logo {
    grid-area: header-logo; }
    .header-logo img {
      width: 190px;
      margin-top: -3%;
      margin-left: 11%; }
  .header nav {
    grid-area: header-menu;
    position: relative;
    z-index: 1;
    justify-self: end;
    margin-top: -3%;
    margin-right: 1.5%; }
  .header-menu {
    list-style: none; }
    .header-menu li {
      margin-right: 9.8px;
      display: inline-block; }
      .header-menu li:last-child {
        margin-right: 0; }
    .header-menu__link {
      color: #fff;
      padding: 0 5px;
      font-family: 'Metropolis-Semi Bold';
      font-weight: 400;
      font-size: 14px; }
      .header-menu__link:hover {
        color: #d9d9d9; }
  .header-text {
    grid-area: header-text;
    font-family: 'Metropolis';
    font-weight: 700;
    color: #fff;
    font-size: 26px;
    width: 586px;
    margin-left: -4%;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    opacity: 0;
    margin-top: 5px; }
    .header-text span {
      font-family: 'Metropolis';
      font-weight: 400;
      font-size: 18px;
      display: block;
      margin-top: 16px;
      margin-left: 1.5px;
      margin-bottom: 87px; }
    .header-text__btn {
      color: #3b739f;
      font-size: 15px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Metropolis';
      padding: 13px 25px;
      text-align: center;
      background: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin-left: 5px;
      border: 2px solid transparent; }
      .header-text__btn:hover {
        background: transparent;
        border: 2px solid #fff;
        color: #fff; }
  .header-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 93%;
    width: 42%; }

@media (max-height: 500px) {
  .header {
    height: auto; } }

@media (max-width: 1200px) {
  .header-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header-logo header-menu ." ". header-text ."; }
  .header-logo {
    justify-self: center; }
  .header nav {
    justify-self: end;
    margin-top: -4%; }
  .header-image {
    height: 100%; } }

@media (max-width: 980px) {
  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header-logo header-menu" "header-text .";
    grid-row-gap: 80px; }
  .header-logo {
    justify-self: start;
    margin-left: 7%; }
  .header nav {
    justify-self: start; }
  .header-menu {
    margin-left: -20%; }
    .header-menu__link {
      font-size: 13px; }
  .header-image {
    height: 85%; }
  .header-text {
    margin-left: 10%;
    font-size: 30px;
    -webkit-align-self: end;
        -ms-flex-item-align: end;
            align-self: end; }
    .header-text span {
      margin-bottom: 10%; } }

@media (max-width: 950px) {
  .header-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 5fr;
    grid-template-areas: "header-logo" "header-menu" "header-text";
    grid-row-gap: 20px; }
  .header-logo {
    justify-self: start;
    margin-left: 8%; }
  .header nav {
    justify-self: start;
    margin-left: 10%;
    margin-bottom: 5%; }
  .header-menu {
    margin-left: 0%; }
    .header-menu__link {
      font-size: 17px; }
  .header-text {
    margin-left: 10%;
    font-size: 30px;
    -webkit-align-self: start;
        -ms-flex-item-align: start;
            align-self: start; }
    .header-text span {
      margin-bottom: 10%; } }

@media (max-width: 768px) {
  .header {
    overflow: hidden; }
    .header-text {
      font-size: 28px; }
      .header-text span {
        margin-bottom: 10%; }
    .header-image {
      height: 75%; } }

@media (max-width: 550px) {
  .header-logo {
    margin-left: 6%; }
  .header nav ul li:first-child a {
    padding-left: 0; }
  .header-text {
    font-size: 25px; }
  .header-image {
    height: 60%; } }

@media (max-width: 480px) {
  .header {
    height: auto; }
    .header-grid {
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-rows: 1fr 1fr 2fr;
      grid-template-areas: ". header-logo ." "header-menu header-menu header-menu" ". header-text ."; }
    .header-logo {
      position: relative;
      z-index: 1;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      text-align: center;
      width: 100%;
      margin-left: 0%; }
    .header nav {
      justify-self: center;
      width: 100%;
      position: relative;
      margin-left: 0%;
      margin-bottom: 0;
      height: 100%;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s; }
    .header-menu {
      margin-left: 0%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      width: 50%;
      margin: auto;
      opacity: 0;
      position: relative;
      z-index: -1;
      height: 0;
      overflow: hidden;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s; }
      .header-menu__link {
        font-size: 17px; }
        .header-menu__link:first-child {
          padding-left: 0px; }
      .header-menu__btn {
        position: absolute;
        top: -20%;
        left: 10%;
        background: transparent;
        height: 25px;
        width: 25px; }
        .header-menu__btn-line {
          margin-bottom: 20%;
          display: block;
          width: 100%;
          height: 3px;
          background: #fff;
          -webkit-transition-duration: .5s;
               -o-transition-duration: .5s;
                  transition-duration: .5s; }
          .header-menu__btn-line:last-child {
            margin-bottom: 0; }
      .header-menu__active {
        background: rgba(255, 255, 255, 0.2);
        height: 100%; }
      .header-menu__active .header-menu__btn-line:first-child {
        -webkit-transform: rotate(45deg) translateY(5px);
            -ms-transform: rotate(45deg) translateY(5px);
                transform: rotate(45deg) translateY(5px);
        width: 115%; }
      .header-menu__active .header-menu__btn-line:nth-child(2) {
        opacity: 0; }
      .header-menu__active .header-menu__btn-line:last-child {
        -webkit-transform: rotate(-45deg) translateY(-11px) translateX(7px);
            -ms-transform: rotate(-45deg) translateY(-11px) translateX(7px);
                transform: rotate(-45deg) translateY(-11px) translateX(7px);
        width: 115%; }
      .header-menu__active .header-menu {
        opacity: 1;
        z-index: 1;
        overflow: visibility;
        height: 97%; }
      .header-menu__active + .header-text {
        margin-top: 0; }
      .header-menu__active + .header-text + .header-image {
        height: 50%; }
    .header-text {
      margin-left: 0%;
      font-size: 22px;
      -webkit-align-self: start;
          -ms-flex-item-align: start;
              align-self: start;
      width: 100%;
      text-align: center;
      margin-top: -20%;
      display: block; }
      .header-text span {
        margin-bottom: 25%;
        font-size: 18px; }
      .header-text__btn {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 10%; }
    .header-image {
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s;
      height: 50%;
      width: 50%; } }

@media (max-width: 435px) {
  .header-text__btn {
    font-size: 17px; } }

@media (max-width: 375px) {
  .header-logo {
    margin-bottom: 10%; }
    .header-logo img {
      margin-left: 0; }
  .header-grid {
    grid-row-gap: 10%; }
  .header nav {
    justify-self: center;
    margin-bottom: 5%; }
  .header-image {
    height: 35%; }
  .header-menu__link {
    font-size: 17px; }
  .header-menu__active + .header-text + .header-image {
    height: 35%; }
  .header-text {
    font-size: 18px; }
    .header-text span {
      margin-bottom: 25%;
      font-size: 18px; }
    .header-text__btn {
      width: 100%; } }

@media (max-width: 320px) {
  .header-menu__link {
    font-size: 15px; }
  .header-menu__active + .header-text + .header-image {
    height: 35%; }
  .header-image {
    height: 35%; }
  .header-text {
    font-size: 16px; }
    .header-text span {
      margin-bottom: 25%;
      font-size: 18px; }
    .header-text__btn {
      font-size: 16px; } }

/* DESCRIPTION */
.description {
  padding: 100px 0 50px;
  overflow: hidden;
  min-height: 900px;
  background: url(../img/description/description-bg.png) no-repeat left top/contain; }
  .description-grid {
    display: grid;
    grid-tempalte-columns: 1fr;
    grid-tempalte-rows: 2fr 8fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-areas: "description-section-top" "description-section-bottom";
    grid-row-gap: 75px; }
  .description__section-top {
    grid-area: description-section-top;
    margin: auto;
    text-align: center;
    margin-top: -0.5%; }
    .description__section-top h4 {
      color: #3b739f;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      margin-left: -10px; }
    .description__section-top span {
      display: block; }
      .description__section-top span:nth-child(2) {
        font-size: 13px;
        margin-bottom: 55px;
        font-weight: 400; }
      .description__section-top span:nth-child(3) {
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        font-size: 12px;
        margin-left: -3%; }
        .description__section-top span:nth-child(3):before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: -130%;
          width: 85px;
          height: 1px;
          background: #a2a2a2;
          -webkit-transform-origin: -50% -50%;
              -ms-transform-origin: -50% -50%;
                  transform-origin: -50% -50%; }
        .description__section-top span:nth-child(3):after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          right: -135%;
          width: 85px;
          height: 1px;
          background: #a2a2a2;
          -webkit-transform-origin: -50% -50%;
              -ms-transform-origin: -50% -50%;
                  transform-origin: -50% -50%; }
  .description__section-bottom {
    margin-top: 4%;
    grid-area: description-section-bottom;
    display: grid;
    grid-tempalte-columns: 1fr 1fr;
    grid-tempalte-rows: 1fr;
    align-self: end;
    grid-template-areas: "description-text description-image";
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    position: relative;
    right: -100%; }
  .description-text {
    grid-area: description-text;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 15%; }
    .description-text__title {
      font-weight: 700;
      color: #3b739f;
      font-size: 49px;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      margin-right: 14%;
      margin-bottom: 5%;
      margin-top: -9%; }
      .description-text__title:before {
        content: '10';
        display: inline-block;
        position: absolute;
        top: -20%;
        left: -70%;
        font-family: 'Metropolis - Extra Bold';
        font-size: 95px;
        font-weight: 400; }
      .description-text__title span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin-left: -8%; }
    .description-text p {
      line-height: 23px;
      font-weight: 400;
      font-size: 11px;
      margin-top: -1.5%;
      width: 51%;
      margin-right: 12.5%;
      display: inline-block; }
  .description-image {
    grid-area: description-image;
    width: 103.5%;
    margin-top: -6.5%;
    margin-left: -20%; }

@media (max-width: 1200px) {
  .description {
    background: url(../img/description/description-bg.png) no-repeat 15% top/150%; }
    .description-text {
      padding-right: 10%; }
    .description-image {
      width: 90%;
      margin-top: 35%; } }

@media (max-width: 992px) {
  .description {
    padding-top: 150px;
    background: url(../img/description/description-bg.png) no-repeat 20% top/cover; }
    .description__section-top h4 {
      margin-bottom: 5%; }
    .description__section-top span:nth-child(2) {
      margin-bottom: 15%; }
    .description-image {
      margin-top: 35%; } }

@media (max-width: 920px) {
  .description-image {
    margin-top: 45%; } }

@media (max-width: 870px) {
  .description-image {
    margin-top: 52%; } }

@media (max-width: 840px) {
  .description-image {
    margin-top: 58%; } }

@media (max-width: 800px) {
  .description {
    background: url(../img/description/description-bg.png) no-repeat 30% top/cover; }
    .description__section-top span:nth-child(2) {
      font-size: 15px;
      margin-bottom: 55px; }
    .description__section-top span:nth-child(3) {
      font-size: 15px;
      margin-bottom: 15%; }
    .description__section-bottom {
      grid-template-columns: 4fr 3fr;
      grid-template-areas: "description-text description-image"; }
    .description-text {
      padding-right: 0%;
      margin-left: 15%; }
      .description-text__title {
        font-size: 55px;
        margin-right: 18%; }
        .description-text__title:before {
          font-size: 100px;
          top: -20%;
          left: -65%; }
        .description-text__title span {
          font-size: 15px; }
      .description-text p {
        width: 80%;
        font-size: 13px; }
    .description-image {
      justify-self: center;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      width: 40%;
      margin-top: 0;
      margin-left: 0; } }

@media (max-width: 710px) {
  .description {
    background: url(../img/description/description-bg.png) no-repeat 30% top/cover; }
    .description__section-top span:nth-child(2) {
      width: 75%;
      margin: auto;
      margin-bottom: 55px;
      font-size: 17px; }
    .description__section-top span:nth-child(3) {
      margin-bottom: 10%; }
    .description__section-bottom {
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". description-text ."; }
    .description-text {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 0; }
      .description-text__title {
        margin-right: 0;
        text-align: center;
        width: 100%;
        margin-right: -20%; }
        .description-text__title:before {
          left: 13%; }
        .description-text__title span {
          margin-left: -3%; }
      .description-text p {
        margin-right: 0; }
    .description-image {
      display: none; } }

@media (max-width: 650px) {
  .description__section-top span:nth-child(3):before, .description__section-top span:nth-child(3):after {
    width: 75px; }
  .description__section-top span:nth-child(3):before {
    left: -120%; }
  .description__section-top span:nth-child(3):after {
    right: -120%; }
  .description-text__title {
    margin-right: 0;
    text-align: center;
    width: 100%;
    margin-right: -20%; }
    .description-text__title:before {
      left: 9%; } }

@media (max-width: 590px) {
  .description__section-top span:nth-child(3) {
    margin-left: 0%; }
  .description-text__title {
    margin-right: -25%;
    margin-top: 15%; }
    .description-text__title:before {
      left: 5%; } }

@media (max-width: 568px) {
  .description-grid {
    grid-row-gap: 30%; }
  .description__section-top span {
    margin-left: 0; }
  .description-text__title {
    margin-right: 0;
    margin-top: 15%; }
    .description-text__title:before {
      left: 0;
      top: -150%;
      display: block;
      width: 100%;
      text-align: center; }
    .description-text__title span {
      display: block; }
  .description-text p {
    width: 90%; } }

@media (max-width: 480px) {
  .description-text__title {
    margin-top: 25%; } }

@media (max-width: 375px) {
  .description-grid {
    grid-row-gap: 30%; }
  .description__section-top span:nth-child(3) {
    margin-left: 0;
    margin-bottom: 10%; }
  .description-text__title:before {
    left: 0;
    top: -150%;
    display: block;
    width: 100%;
    text-align: center; }
  .description-text__title span {
    display: block; }
  .description-text p {
    width: 90%; } }

@media (max-width: 360px) {
  .description-grid {
    grid-row-gap: 30%; }
  .description__section-top span:nth-child(3) {
    margin-left: -2% !important; }
  .description-text__title {
    margin-right: 2%; }
    .description-text__title:before {
      top: -130%;
      font-size: 90px; } }

/* SERVICES */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.6fr;
  grid-template-areas: "services-section-top" "services-section-center" "services-section-bottom";
  grid-row-gap: 50px; }

.services__section-top {
  grid-area: services-section-top;
  margin-top: -12.2%;
  margin-left: -2%; }
  .services__section-top h2 {
    text-transform: uppercase;
    color: #3b739f;
    font-size: 27px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 1.8%; }
  .services__section-top p {
    line-height: 23px;
    font-weight: 400;
    font-size: 12.5px;
    width: 48%;
    text-align: center;
    margin: auto; }

.services__section-center {
  grid-area: services-section-center;
  padding: 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "services-item-1 services-item-2" "services-item-3 services-item-4" "services-item-5 services-item-5";
  grid-row-gap: 45px;
  grid-column-gap: 60px;
  width: 100%;
  overflow: hidden;
  margin-top: -16.3%;
  margin-left: -0.5%; }
  .services__section-center-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: inline-block;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    padding: 42px 33px;
    -webkit-box-shadow: 0 0 70px rgba(79, 132, 170, 0.14);
            box-shadow: 0 0 70px rgba(79, 132, 170, 0.14);
    text-align: center;
    width: 350px;
    height: 250px;
    position: relative; }
    .services__section-center-item:hover {
      -webkit-box-shadow: 0 0 70px rgba(79, 132, 170, 0.3);
              box-shadow: 0 0 70px rgba(79, 132, 170, 0.3); }
    .services__section-center-item:first-child {
      grid-area: services-item-1;
      justify-self: end;
      align-self: end;
      right: 100%; }
    .services__section-center-item:nth-child(2) {
      grid-area: services-item-2;
      justify-self: start;
      align-self: end;
      right: -100%; }
    .services__section-center-item:nth-child(3) {
      grid-area: services-item-3;
      justify-self: end;
      right: 100%; }
      .services__section-center-item:nth-child(3) img {
        margin-top: -4%; }
    .services__section-center-item:nth-child(4) {
      grid-area: services-item-4;
      justify-self: start;
      right: -100%;
      padding: 42px 35px; }
      .services__section-center-item:nth-child(4) img {
        margin-top: -5%;
        margin-bottom: 19px; }
    .services__section-center-item:last-child {
      grid-area: services-item-5;
      justify-self: center;
      align-self: start;
      right: 100%; }
      .services__section-center-item:last-child img {
        margin-top: -4%; }
    .services__section-center-item img {
      width: 13%;
      margin-bottom: 16px; }
    .services__section-center-item h3 {
      font-size: 13.4px;
      font-weight: 700;
      color: #3b739f;
      margin-bottom: 13px;
      text-transform: uppercase; }
    .services__section-center-item p {
      font-size: 10px;
      font-weight: 400;
      line-height: 18px; }

.services__section-bottom {
  grid-area: services-section-bottom;
  overflow: hidden;
  margin-top: -4%; }
  .services__section-bottom h4 {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #d0d0d0;
    position: relative;
    font-size: 10px;
    margin: auto;
    margin-bottom: 70px; }
    .services__section-bottom h4:after, .services__section-bottom h4:before {
      display: inline-block;
      content: '';
      height: 1px;
      width: 12%;
      position: absolute;
      top: 50%;
      -webkit-transform-origin: -50% -50%;
          -ms-transform-origin: -50% -50%;
              transform-origin: -50% -50%;
      background: #d0d0d0; }
    .services__section-bottom h4:before {
      left: 22%; }
    .services__section-bottom h4:after {
      right: 22%; }
  .services__section-bottom-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    position: relative;
    width: 72%; }
    .services__section-bottom-row:first-child, .services__section-bottom-row:nth-child(3) {
      right: 1500px; }
    .services__section-bottom-row:nth-child(2) {
      right: -1500px;
      width: 62%; }
      .services__section-bottom-row:nth-child(2) div:first-child img {
        width: 22%; }
      .services__section-bottom-row:nth-child(2) div:nth-child(2) img {
        width: 40%; }
    .services__section-bottom-row:nth-child(3) div:first-child img {
      width: 30%; }
    .services__section-bottom-row:nth-child(3) div:last-child img {
      width: 35%; }
    .services__section-bottom-row:nth-child(4) {
      right: -1500px;
      width: 65%; }
      .services__section-bottom-row:nth-child(4) div:first-child img {
        width: 30%; }
      .services__section-bottom-row:nth-child(4) div:nth-child(4) img {
        width: 35%; }
      .services__section-bottom-row:nth-child(4) div:nth-child(5) img {
        width: 30%; }
    .services__section-bottom-row:last-child {
      width: 56%;
      right: 2000px; }
      .services__section-bottom-row:last-child div:first-child img {
        width: 43%; }
      .services__section-bottom-row:last-child div:nth-child(4) img {
        width: 28%; }
      .services__section-bottom-row:last-child div:nth-child(5) img {
        width: 32%; }
      .services__section-bottom-row:last-child div:last-child img {
        width: 40%; }
    .services__section-bottom-row div:last-child {
      border-right: 0; }
  .services__section-bottom-technologies {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3%; }
    .services__section-bottom-technologies-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 20px;
      border-right: 2px solid #e8e8e8;
      min-width: 10%; }
      .services__section-bottom-technologies-item:first-child img {
        width: 25%; }
      .services__section-bottom-technologies-item:nth-child(3) img, .services__section-bottom-technologies-item:nth-child(4) img {
        width: 40%; }
      .services__section-bottom-technologies-item:nth-child(4) img {
        width: 45%; }
      .services__section-bottom-technologies-item:nth-child(6) img {
        width: 25%; }
      .services__section-bottom-technologies-item img {
        margin-right: 10px;
        width: 34%; }
      .services__section-bottom-technologies-item span {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 11px; }

@media (max-width: 1200px) {
  .services {
    padding-top: 150px; }
    .services__section-center-item {
      width: 85%; }
      .services__section-center-item:last-child {
        width: 42%; }
      .services__section-center-item img {
        margin-bottom: 6%; }
      .services__section-center-item h3 {
        margin-bottom: 5%; }
      .services__section-center-item p {
        font-size: 13px; }
    .services__section-bottom-technologies-item {
      padding: 0 15px; }
      .services__section-bottom-technologies-item img {
        width: 20%; }
      .services__section-bottom-technologies-item span {
        font-size: 11px; } }

@media (max-width: 1024px) {
  .services {
    padding-top: 100px; }
    .services__section-top p {
      font-size: 17px; }
    .services__section-bottom h4:before {
      left: 18%; }
    .services__section-bottom h4:after {
      right: 18%; }
    .services__section-bottom-row:first-child {
      width: 85%; }
    .services__section-bottom-row:nth-child(2) {
      width: 68%; } }

@media (max-width: 992px) {
  .services__section-top p {
    width: 60%; }
  .services__section-center-item {
    height: auto; }
  .services__section-bottom h4:before {
    left: 16%; }
  .services__section-bottom h4:after {
    right: 16%; }
  .services__section-bottom-row:nth-child(2) {
    width: 70%; } }

@media (max-width: 768px) {
  .services {
    padding-bottom: 75px; }
    .services-grid {
      grid-template-rows: 0.1fr 1fr 0.4fr; }
    .services__section-top h2 {
      font-size: 34px; }
    .services__section-center {
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
      grid-template-areas: ". services-item-1 ." ". services-item-2 ." ". services-item-3 ." ". services-item-4 ." ". services-item-5 ."; }
      .services__section-center-item:last-child {
        width: 85%;
        justify-self: end; }
    .services__section-bottom h4:before {
      left: 12%; }
    .services__section-bottom h4:after {
      right: 12%; }
    .services__section-bottom-row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 0;
      width: 90%; }
      .services__section-bottom-row:last-child div:nth-child(5) {
        border-right: 0; }
      .services__section-bottom-row div:nth-child(4) {
        border-right: 0; }
    .services__section-bottom-technologies {
      width: 80%;
      margin: auto; }
      .services__section-bottom-technologies-item {
        margin-bottom: 3%; }
        .services__section-bottom-technologies-item img {
          width: 25%; }
        .services__section-bottom-technologies-item span {
          font-size: 12px; } }

@media (max-width: 600px) {
  .services__section-top p {
    font-size: 15px;
    width: 75%; }
  .services__section-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .services__section-center-item {
      margin: auto;
      margin-bottom: 8%;
      padding: 42px 28px; }
  .services__section-bottom h4 {
    font-size: 15px; }
    .services__section-bottom h4:before, .services__section-bottom h4:after {
      width: 7%; }
    .services__section-bottom h4:before {
      left: 14%; }
    .services__section-bottom h4:after {
      right: 14%; }
  .services__section-bottom-row div:nth-child(3) {
    border-right: 0; }
  .services__section-bottom-row:first-child div:nth-child(4) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(2) div:nth-child(4) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(3) div:nth-child(4) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(3) div:nth-child(5) {
    border-right: 0; }
  .services__section-bottom-row:nth-child(3) div:last-child {
    border-right: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(4) div:nth-child(4) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:last-child div:nth-child(3), .services__section-bottom-row:last-child div:nth-child(5) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-technologies-item {
    margin-bottom: 10%; } }

@media (max-width: 480px) {
  .services {
    padding-bottom: 75px; }
    .services-grid {
      grid-template-rows: 0.1fr 1fr 0.4fr; }
    .services__section-top h2 {
      margin-bottom: 5%; }
    .services__section-top p {
      font-size: 15px; }
    .services__section-center {
      grid-column-gap: 0; }
      .services__section-center-item {
        width: 90%; }
        .services__section-center-item:last-child {
          width: 95%;}
    .services__section-bottom h4:before {
      left: 10%; }
    .services__section-bottom h4:after {
      right: 10%; }
    .services__section-bottom-row div:nth-child(2) {
      border-right: 0; }
    .services__section-bottom-row:first-child div:nth-child(3) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:first-child div:nth-child(4) {
      border-right: 0; }
    .services__section-bottom-row:nth-child(2) div:nth-child(3) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:nth-child(2) div:nth-child(4) {
      border-right: 0; }
    .services__section-bottom-row:nth-child(2) div:last-child {
      border-right: 2px solid #e8e8e8;
      border-left: 2px solid #e8e8e8; }
    .services__section-bottom-row:nth-child(3) div:nth-child(3) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:nth-child(3) div:nth-child(4) {
      border-right: 0; }
    .services__section-bottom-row:nth-child(3) div:nth-child(5) {
      border-right: 0; }
    .services__section-bottom-row:nth-child(3) div:last-child {
      border-right: 0; }
    .services__section-bottom-row:nth-child(4) div:nth-child(3) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:nth-child(4) div:nth-child(4) {
      border-right: 0; }
    .services__section-bottom-row:last-child div:nth-child(2) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:last-child div:nth-child(3) {
      border-right: 0; }
    .services__section-bottom-row:last-child div:nth-child(4) {
      border-right: 2px solid #e8e8e8; }
    .services__section-bottom-row:last-child div:nth-child(5) {
      border-right: 2px solid #e8e8e8; } }

@media (max-width: 375px) {
  .services__section-top h2 {
    margin-bottom: 8%; }
  .services__section-top p {
    font-size: 14px; }
  .services__section-center-item {
    height: auto; }
  .services__section-bottom h4:before {
    display: none; }
  .services__section-bottom h4:after {
    display: none; }
  .services__section-bottom-row div:nth-child(2) {
    border-right: 0; }
  .services__section-bottom-row:first-child div:nth-child(3) {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:first-child div:nth-child(5) {
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:first-child div:last-child {
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(2) div:nth-child(1) {
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(2) div:nth-child(3) {
    border-right: 0;
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(2) div:nth-child(4) {
    border-right: 0; }
  .services__section-bottom-row:nth-child(2) div:last-child {
    border-right: 0; }
  .services__section-bottom-row:nth-child(3) div:nth-child(5) {
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(3) div:last-child {
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:last-child div:nth-child(2) {
    border-right: 0; }
  .services__section-bottom-row:last-child div:nth-child(3) {
    border-right: 0; }
  .services__section-bottom-row:last-child div:nth-child(4) {
    border-left: 2px solid #e8e8e8;
    border-right: 0; }
  .services__section-bottom-row:last-child div:nth-child(5) {
    border-right: 2px solid #e8e8e8; } }

@media (max-width: 320px) {
  .services__section-bottom h4 {
    font-size: 13px; }
  .services__section-bottom-row div:nth-child(2) {
    border-right: 0; }
  .services__section-bottom-row:first-child div:first-child, .services__section-bottom-row:first-child div:nth-child(2) {
    border-right: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(2) div:nth-child(2) {
    border-right: 0; }
  .services__section-bottom-row:nth-child(2) div:nth-child(4), .services__section-bottom-row:nth-child(2) div:last-child {
    border-right: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(3) div:first-child, .services__section-bottom-row:nth-child(3) div:nth-child(2), .services__section-bottom-row:nth-child(3) div:nth-child(3), .services__section-bottom-row:nth-child(3) div:nth-child(4), .services__section-bottom-row:nth-child(3) div:nth-child(5), .services__section-bottom-row:nth-child(3) div:last-child {
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(4) div:nth-child(3), .services__section-bottom-row:nth-child(4) div:last-child {
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8; }
  .services__section-bottom-row:nth-child(4) div:nth-child(5) {
    border-right: 0;
    border-left: 2px solid #e8e8e8; }
  .services__section-bottom-row {
    width: 80% !important; } }

/* PORTFOLIO */
.portfolio {
  padding: 110px 0 90px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  background: url(../img/portfolio/portfolio-bg.jpg) no-repeat left -100px/cover; }
  .portfolio__section-top {
    margin-bottom: 8%; }
    .portfolio__section-top h4 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: #3b739f;
      font-size: 26px;
      margin-bottom: 2%; }
    .portfolio__section-top p {
      width: 50%;
      margin: auto;
      line-height: 23px;
      font-size: 13px;
      text-align: center;
      font-weight: 400; }
  .portfolio__section-content {
    margin: auto;
    width: 80%; }
  .portfolio__work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 60%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-top: -2%; }
    .portfolio__work-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 47%;
      margin-right: 5%;
      margin-bottom: 8%;
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s;
      opacity: 0; }
      .portfolio__work-item:nth-child(2), .portfolio__work-item:last-child {
        margin-right: 0; }
      .portfolio__work-item img {
        margin-bottom: 8%;
        -webkit-transition-duration: 1s;
             -o-transition-duration: 1s;
                transition-duration: 1s;
        height: 200px; }
        .portfolio__work-item img:hover {
          -webkit-box-shadow: 0 0 10px 3px rgba(37, 36, 66, 0.3);
                  box-shadow: 0 0 10px 3px rgba(37, 36, 66, 0.3); }
      .portfolio__work-item figcaption {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        color: #252442;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; }

@media (max-width: 1200px) {
  .portfolio {
    background-position: left top; }
    .portfolio__work-item img {
      height: 200px; } }

@media (max-width: 768px) {
  .portfolio__work {
    width: 90%; }
    .portfolio__work-item img {
      width: 100%; } }

@media (max-width: 600px) {
  .portfolio__section-content {
    width: 85%; }
  .portfolio__work-item figcaption {
    font-size: 15px; } }

@media (max-width: 480px) {
  .portfolio__section-top {
    margin-bottom: 25%; }
    .portfolio__section-top h4 {
      margin-bottom: 7%; }
    .portfolio__section-top p {
      width: 80%; }
  .portfolio__work-item {
    width: 75%;
    margin-bottom: 20%;
    margin-right: 0; }
    .portfolio__work-item figcaption {
      font-size: 16px; } }

@media (max-width: 425px) {
  .portfolio__section-top p {
    font-size: 17px; }
  .portfolio__work-item {
    width: 85%; } }

@media (max-width: 320px) {
  .portfolio__section-top p {
    font-size: 17px; }
  .portfolio__work-item {
    width: 95%; } }

/* FOOTER */
.footer {
  padding: 100px 0 30px;
  position: relative;
  background: url(../img/footer/footer-bg.jpg) no-repeat -10px -4px/cover; }
  .footer__section-left {
    padding: 55px 75px 33px;
    width: 36%;
    display: inline-block;
    background: url(../img/footer/footer-form-bg.png) no-repeat left top/cover #466e8b;
    opacity: 0;
    -webkit-transform: rotate(-360deg) scale(0);
        -ms-transform: rotate(-360deg) scale(0);
            transform: rotate(-360deg) scale(0);
    position: relative;
    -webkit-transition-duration: 1.5s;
         -o-transition-duration: 1.5s;
            transition-duration: 1.5s;
    right: 48%;
    margin-left: 13.5%;
    margin-top: 1%; }
    .footer__section-left h5 {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      margin-bottom: 13%; }
  .footer__section-right {
    display: inline-block;
    color: #fff;
    width: 30%;
    position: absolute;
    bottom: 22%;
    right: 14.5%;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    opacity: 0; }
    .footer__section-right:after {
      position: absolute;
      top: -49%;
      right: 12.5%;
      content: '';
      display: inline-block;
      background: url(../img/footer/footer-logo.png) no-repeat left top/cover;
      height: 52px;
      width: 52px; }
    .footer__section-right:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 16.5%;
      right: 14.1%;
      height: 2px;
      width: 17%;
      background: #b1c2cd;
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom;
      -webkit-transform: rotate(-60deg);
          -ms-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .footer__section-right h4, .footer__section-right h5 {
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 2%; }
    .footer__section-right h4 {
      font-size: 22px;
      border-bottom: 2px solid #b1c2cd;
      width: 69%;
      margin-bottom: 4%;
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s; }
      .footer__section-right h4 span {
        font-family: "Metropolis - Thin";
        font-weight: 400; }
    .footer__section-right h5 {
      font-size: 13px;
      display: block;
      position: relative;
      margin-bottom: 8%; }
      .footer__section-right h5 span {
        font-weight: 400;
        font-family: "Metropolis - Thin"; }
      .footer__section-right h5:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 155%;
        height: 2px;
        width: 5%;
        background: #b1c2cd; }
  .footer-mail {
    font-weight: 400;
    margin-bottom: 6%;
    font-size: 13px;
    display: block; }
  .footer__socials {
    list-style: none;
    margin-bottom: 6%; }
    .footer__socials li {
      margin-right: 0.5%;
      display: inline-block; }
      .footer__socials li a {
        padding: 0 3px; }
        .footer__socials li a img {
          width: 53%; }
      .footer__socials li:first-child a {
        padding-left: 0; }
  .footer__form {
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr 0.9fr;
    grid-template-areas: "form-input-name form-input-sapient" "form-input-email form-input-number" "form-textarea form-textarea" "form-btn form-btn" ". .";
    grid-gap: 3.5%;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    margin: auto; }
    .footer__form input, .footer__form textarea {
      font-size: 12px;
      font-family: 'Metropolis';
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .footer__form input:focus, .footer__form textarea:focus {
        outline: none;
        color: #3b7599;
        background: rgba(255, 255, 255, 0.7); }
    .footer__form input[type="text"][placeholder], .footer__form input[type="text"]::-webkit-input-placeholder, .footer__form input[type="text"]::-moz-placeholder, .footer__form input[type="text"]:-ms-input-placeholder, .footer__form input[type="text"]:-moz-placeholder, .footer__form input[type="email"][placeholder], .footer__form input[type="email"]::-webkit-input-placeholder, .footer__form input[type="email"]::-moz-placeholder, .footer__form input[type="email"]:-ms-input-placeholder, .footer__form input[type="email"]:-moz-placeholder, .footer__form input[type="tel"][placeholder], .footer__form input[type="tel"]::-webkit-input-placeholder, .footer__form input[type="tel"]::-moz-placeholder, .footer__form input[type="tel"]:-ms-input-placeholder, .footer__form input[type="tel"]:-moz-placeholder {
      color: #3b7599; }
    .footer__form-input {
      font-weight: 400;
      padding: 8px 10px;
      border-radius: 5px;
      border: 0;
      background: rgba(126, 154, 174, 0.7);
      color: #fff;
      border: 1px solid transparent;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s; }
      .footer__form-input:first-child {
        grid-area: form-input-name; }
      .footer__form-input:nth-child(2) {
        grid-area: form-input-sapient; }
      .footer__form-input:nth-child(3) {
        grid-area: form-input-email; }
    .footer__form-textarea {
      grid-area: form-textarea;
      font-weight: 400;
      padding: 10px;
      border: 0;
      background: rgba(126, 154, 174, 0.7);
      color: #fff;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s;
      border: 1px solid transparent; }
    .footer__form-btn {
      grid-area: form-btn;
      grid-row-gap: 50%;
      text-transform: uppercase;
      font-weight: 700;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      font-size: 10px;
      border: 2px solid #ffffff;
      background: transparent;
      font-weight: 700;
      padding: 10.3px 0;
      margin-top: 3%;
      color: #fff; }
      .footer__form-btn:hover {
        cursor: pointer;
        background: #fff;
        color: #3b7599; }
  .footer-policy {
    margin: auto;
    width: 100%;
    display: block;
    font-size: 11px;
    text-align: center;
    margin-top: 5%;
    color: #fff; }

@media (max-width: 1200px) {
  .footer {
    background: url(../img/footer/footer-bg.jpg) no-repeat 25% top/cover; }
    .footer__section-left {
      padding: 50px 75px;
      margin-left: 5%; }
      .footer__section-left h5 {
        font-size: 19px; }
    .footer__section-right:before {
      top: 16.8%;
      right: -19%;
      width: 22%; }
    .footer__section-right:after {
      top: -63%;
      right: -19.5%; }
    .footer__section-right h4 {
      width: 97%; }
    .footer__form {
      margin-left: -3.5%; } }

@media (max-width: 1024px) {
  .footer {
    background: url(../img/footer/footer-bg.jpg) no-repeat 52% top/cover; }
    .footer__section-left {
      padding: 50px; }
    .footer__section-right {
      right: 13%; }
      .footer__section-right h4 {
        width: 88%;
        font-size: 27px; }
      .footer__section-right:before {
        top: 20.8%;
        right: -21%;
        width: 33%; }
      .footer__section-right:after {
        top: -75%;
        right: -17.5%; }
    .footer__form {
      margin-left: -6%; } }

@media (max-width: 992px) {
  .footer {
    padding-bottom: 50px; }
    .footer__section-left {
      margin: auto;
      width: 50%;
      display: block; }
    .footer__section-right {
      display: block;
      position: relative;
      width: 50%;
      text-align: center;
      top: 0;
      right: 0;
      margin: auto; }
      .footer__section-right:before, .footer__section-right:after {
        display: none; }
      .footer__section-right h4 {
        margin-right: 0;
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 25%;
        font-size: 33px; }
      .footer__section-right h5:after {
        position: relative;
        margin: auto;
        margin-top: 5%; }
    .footer__form {
      margin-left: 11%; } }

@media (max-width: 768px) {
  .footer__form {
    margin: auto;
    margin-left: -2%; } }

@media (max-width: 760px) {
  .footer__section-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__form {
    grid-template-columns: 5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 3fr 1fr 0.7fr;
    grid-template-areas: "form-input-name" "form-input-sapient" "form-input-email" "form-input-number" "form-textarea" "form-btn" ".";
    margin-right: 0;
    width: 100%;
    margin-left: 0; } }

@media (max-width: 600px) {
  .footer__section-left {
    width: 80%; }
    .footer__section-left h5 {
      font-size: 20px; }
  .footer__form-input {
    margin-bottom: 5%; }
  .footer__form-textarea {
    margin-bottom: 15%; }
  .footer__form-btn {
    padding: 8%; } }

@media (max-width: 480px) {
  .footer__section-left {
    padding: 50px 45px 35px; }
    .footer__section-left h5 {
      font-size: 18px;
      margin-bottom: 20%; }
  .footer__section-right h4 {
    padding-bottom: 10%;
    margin-bottom: 10%;
    margin-top: 60%;
    width: 100%;
    font-size: 27px; }
  .footer__section-right h5:after {
    width: 45%;
    margin-top: 7%; }
  .footer__form-btn {
    padding: 16px;
    margin-top: 7%; }
  .footer-mail {
    margin-bottom: 20%;
    margin-top: 15%; }
  .footer__socials {
    margin-bottom: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 90%;
    margin-left: 10%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .footer__socials li {
      margin-right: 15%; }
      .footer__socials li a img {
        width: 90%; }
  .footer-policy {
    margin-top: 20%; } }

@media (max-width: 425px) {
  .footer__section-left h5 {
    font-size: 17px; }
  .footer__section-right h4 {
    font-size: 25px; }
  .footer__section-right h5 {
    line-height: 1.4em; }
  .footer-mail {
    margin-top: 20%; }
  .footer__socials {
    margin-bottom: 25%;
    margin-left: 12%; } }

@media (max-width: 375px) {
  .footer__section-left h5 {
    font-size: 15px; }
  .footer__section-right {
    width: 75%; }
    .footer__section-right h4 {
      font-size: 25px; }
    .footer__section-right h5 {
      line-height: 1.4em; }
  .footer__socials {
    margin-left: 12%; }
  .footer-policy {
    font-size: 13px; } }

@media (max-width: 360px) {
  .footer__section-left {
    padding: 50px 35px 35px; }
    .footer__section-left h5 {
      font-size: 13px; }
  .footer__form {
    margin-left: 0%; } }

/* POPUP */
.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  height: 100%;
  width: 105%;
  z-index: 10;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .popup__content {
    position: relative;
    top: -120%;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    right: 0;
    width: 100%;
    height: 130%;
    background: url(../img/popup/popup-content-img.png) no-repeat center center/contain; }
    .popup__content-btn-close {
      position: absolute;
      height: 8%;
      width: 5%;
      top: 14.6%;
      right: 18.7%;
      background: #3b739f;
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s; }
      .popup__content-btn-close:hover {
        background: #fff; }
      .popup__content-btn-close:hover .popup__content-btn-line {
        background: #3b739f; }
    .popup__content-btn-line {
      position: absolute;
      top: 47%;
      left: 32%;
      width: 35%;
      height: 4px;
      background: #fff;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; }
      .popup__content-btn-line:first-child {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .popup__content-btn-line:last-child {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }

@media (max-width: 1024px) {
  .popup__content-btn-close {
    top: 14.7%;
    right: 19.5%; } }

@media (max-width: 992px) {
  .popup__content-btn-close {
    top: 14.7%;
    right: 18.5%; } }

@media (max-width: 768px) {
  .popup__content {
    right: 0;
    left: -2.5%;
    -webkit-background-size: cover;
            background-size: cover; }
    .popup__content-btn-close {
      height: 8%;
      width: 7%;
      top: 14.6%;
      right: 9.3%; } }

@media (max-width: 670px) {
  .popup__content-btn-close {
    height: 8%;
    width: 7%;
    top: 14.7%;
    right: 3.5%; } }

@media (max-width: 600px) {
  .popup__content {
    left: -2.2%;
    height: 100vh;
    width: 100vw; }
    .popup__content-btn-close {
      height: 10%;
      width: 7%;
      right: 8%; } }

@media (max-width: 480px) {
  .popup__content {
    background: url(../img/popup/popup-content-img.png) no-repeat 20% 45%/280%; }
    .popup__content-btn-close {
      width: 10%;
      top: 0;
      right: 0; } }

@media (max-width: 425px) {
  .popup__content {
    background: url(../img/popup/popup-content-img.png) no-repeat 20% 45%/300%; }
    .popup__content-btn-close {
      width: 15%; } }

@media (max-width: 375px) {
  .popup__content {
    background: url(../img/popup/popup-content-img.png) no-repeat 21.5% 45%/350%; } }

@media (max-width: 350px) {
  .popup__content {
    background: url(../img/popup/popup-content-img.png) no-repeat 22% 45%/360%; } }

@media (max-width: 320px) {
  .popup__content {
    background-position: 22% 40%; }
    .popup__content-btn-close {
      width: 20%;
      height: 10%; } }

@media (max-height: 375px) {
  .popup__content-btn-close {
    top: 11.5%;
    right: 11.3%; } }

@media (max-height: 320px) {
  .popup__content-btn-close {
    top: 1.2%; } }