/* DESCRIPTION */

.description
	padding: 100px 0 50px;
	overflow: hidden;
	min-height: 900px
	background: url(../img/description/description-bg.png) no-repeat left top / contain;

	&-grid
		display: grid;
		grid-tempalte-columns: 1fr
		grid-tempalte-rows: 2fr 8fr
		justify-content: center;
		grid-template-areas: "description-section-top" "description-section-bottom"
		grid-row-gap: 75px

	&__section
		&-top
			grid-area: description-section-top
			margin: auto;
			text-align: center;
			margin-top: -0.5%;

			h4
				color: $color-primary
				font-size: 25px;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 10px;
				margin-left: -10px;

			span
				display: block;;

				&:nth-child(2)
					font-size: 13px;
					margin-bottom: 55px;
					font-weight: 400;

				&:nth-child(3)
					font-weight: 500;
					text-transform: uppercase;
					position: relative;
					display: inline-block;
					font-size: 12px;
					margin-left: -3%;

					&:before
						content: ''
						display: inline-block;
						position: absolute;
						top: 50%;
						left: -130%;
						width: 85px;
						height: 1px;
						background: $color-silver;
						transform-origin: -50% -50%

					&:after
						content: ''
						display: inline-block;
						position: absolute;
						top: 50%;
						right: -135%;
						width: 85px;
						height: 1px;
						background: $color-silver;
						transform-origin: -50% -50%
		&-bottom
			margin-top: 4%;
			grid-area: description-section-bottom
			display: grid;
			grid-tempalte-columns: 1fr 1fr 
			grid-tempalte-rows: 1fr
			align-self: end
			grid-template-areas: "description-text description-image"
			transition-duration: 1s;
			position: relative;
			right: -100%;

	&-text
		grid-area: description-text
		width: 100%;
		text-align: center;
		display: flex;
		align-items: flex-end;
		flex-direction: column
		padding-right: 15%;

		&__title
			font-weight: 700;
			color: $color-primary
			font-size: 49px;
			text-transform: uppercase;
			position: relative;
			display: inline-block;
			margin-right: 14%;
			margin-bottom: 5%;
			margin-top: -9%;

			&:before
				content: '10'
				display: inline-block;
				position: absolute;
				top: -20%;
				left: -70%;
				font-family: 'Metropolis - Extra Bold';
				font-size: 95px;
				font-weight: 400;

			span
				display: block;
				font-size: 13px;
				font-weight: 400;
				margin-left: -8%;

		p
			line-height: 23px;
			font-weight: 400;
			font-size: 11px;
			margin-top: -1.5%;
			width: 51%;
			margin-right: 12.5%;
			display: inline-block;
				

	&-image
		grid-area: description-image
		width: 103.5%;
		margin-top: -6.5%;
		margin-left: -20%;

@media (max-width: 1200px)
	.description
		background: url(../img/description/description-bg.png) no-repeat 15% top / 150%;

		&-text
			padding-right: 10%;

		&-image
			width: 90%;
			margin-top: 35%;

@media (max-width: 992px)
	.description
		padding-top: 150px;
		background: url(../img/description/description-bg.png) no-repeat 20% top / cover;			

		&__section
			&-top
				h4
					margin-bottom: 5%;

				span
					&:nth-child(2)
						margin-bottom: 15%;

		&-image
			margin-top: 35%;

@media (max-width: 920px)
	.description			
		&-image
			margin-top: 45%

@media (max-width: 870px)
	.description
		&-image
			margin-top: 52%;

@media (max-width: 840px)
	.description
		&-image
			margin-top: 58%;

@media (max-width: 800px)
	.description
		background: url(../img/description/description-bg.png) no-repeat 30% top / cover;

		&__section
			&-top
				span
					&:nth-child(2)
						font-size: 15px;
						margin-bottom: 55px;

					&:nth-child(3)
						font-size: 15px;
						margin-bottom: 15%;

			&-bottom
				grid-template-columns: 4fr 3fr 
				grid-template-areas: "description-text description-image"

		&-text
			padding-right: 0%;
			margin-left: 15%;

			&__title
				font-size: 55px;
				margin-right: 18%;

				&:before
					font-size: 100px;
					top: -20%;
					left: -65%;

				span
					font-size: 15px;

			p
				width: 80%;
				font-size: 13px;

		&-image
			justify-self: center;
			align-self: center;
			width: 40%;
			margin-top: 0;
			margin-left: 0;

@media (max-width: 710px)
	.description
		background: url(../img/description/description-bg.png) no-repeat 30% top / cover;

		&__section
			&-top
				span
					&:nth-child(2)
						width: 75%;
						margin: auto;
						margin-bottom: 55px;
						font-size: 17px;

					&:nth-child(3)
						margin-bottom: 10%;

			&-bottom
				grid-template-columns: 1fr 10fr 1fr 
				grid-template-rows: 1fr 
				grid-template-areas: ". description-text ."

		&-text
			justify-content: center;
			align-items: center
			margin-left: 0;

			&__title
				margin-right: 0;
				text-align: center;
				width: 100%;
				margin-right: -20%;

				&:before
					left: 13%;

				span
					margin-left: -3%;

			p
				margin-right: 0;

		&-image
			display: none;

@media (max-width: 650px)
	.description
		&__section
			&-top
				span
					&:nth-child(3)
						&:before, &:after
							width: 75px;

						&:before
							left: -120%;

						&:after
							right: -120%;

		&-text
			&__title
				margin-right: 0;
				text-align: center;
				width: 100%;
				margin-right: -20%;

				&:before
					left: 9%;

@media (max-width: 590px)
	.description
		&__section
			&-top
				span
					&:nth-child(3)
						margin-left: 0%;
		&-text
			&__title
				margin-right: -25%;

				&:before
					left: 5%;

@media (max-width: 550px)
	.description
		&-grid
			grid-row-gap: 30%

		&__section
			&-top
				span
					margin-left: 0;

		&-text
			&__title
				margin-right: 0;

				&:before
					left: 0;
					top: -150%;
					display: block;
					width: 100%;
					text-align: center;

				span
					display: block;

			p
				width: 90%;

@media (max-width: 375px)
	.description
		&-grid
			grid-row-gap: 30%

		&__section
			&-top
				span
					&:nth-child(3)
						margin-left: 0;
						margin-bottom: 10%;

		&-text
			&__title
				margin-right: 0;

				&:before
					left: 0;
					top: -150%;
					display: block;
					width: 100%;
					text-align: center;

				span
					display: block;

			p
				width: 90%;

@media (max-width: 360px)
	.description
		&-grid
			grid-row-gap: 30%

		&__section
			&-top
				span
					&:nth-child(3)
						margin-left: -2% !important;

		&-text
			&__title
				margin-right: 2%;

				&:before
					top: -130%;
					font-size: 90px;
