@font-face
    font-family: 'Metropolis - Thin'
    src: local('Metropolis Thin'), local('Metropolis-Thin'), url('../fonts/Metropolis/Metropolisthin.woff2') format('woff2'), url('../fonts/Metropolis/Metropolisthin.woff') format('woff'), url('../fonts/Metropolis/Metropolisthin.ttf') format('truetype');
    font-weight: 100
    font-style: normal

@font-face
    font-family: 'Metropolis';
    src: local('Metropolis'), local('Metropolis-Regular'), url('../fonts/Metropolis/Metropolis.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis.woff') format('woff'), url('../fonts/Metropolis/Metropolis.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;


@font-face
    font-family: 'Metropolis';
    src: local('Metropolis Medium'), local('Metropolis-Medium'), url('../fonts/Metropolis/Metropolismedium.woff2') format('woff2'), url('../fonts/Metropolis/Metropolismedium.woff') format('woff'), url('../fonts/Metropolis/Metropolismedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

@font-face
    font-family: 'Metropolis'
    src: local('Metropolis'), local('Metropolis-Regular'), url('../fonts/Metropolis/Metropolis.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis.woff') format('woff'), url('../fonts/Metropolis/Metropolis.ttf') format('truetype')
    font-style: normal

@font-face
    font-family: 'Metropolis-Semi Bold'
    src: local('Metropolis Semi Bold'), local('Metropolis-SemiBold'), url('../fonts/Metropolis/Metropolissemibold.woff2') format('woff2'), url('../fonts/Metropolis/Metropolissemibold.woff') format('woff'), url('../fonts/Metropolis/Metropolissemibold.ttf') format('truetype')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'Metropolis'
    src: local('Metropolis Bold'), local('Metropolis-Bold'), url('../fonts/Metropolis/Metropolisbold.woff2') format('woff2'), url('../fonts/Metropolis/Metropolisbold.woff') format('woff'), url('../fonts/Metropolis/Metropolisbold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    
@font-face
    font-family: 'Metropolis - Extra Bold'
    src: local('Metropolis Extra Bold'), local('Metropolis-ExtraBold'), url('../fonts/Metropolis/Metropolisextrabold.woff2') format('woff2'), url('../fonts/Metropolis/Metropolisextrabold.woff') format('woff'), url('../fonts/Metropolis/Metropolisextrabold.ttf') format('truetype')
    font-weight: 800
    font-style: normal