/* FOOTER */

.footer
	padding: 100px 0 30px;
	position: relative;
	background: url(../img/footer/footer-bg.jpg) no-repeat -10px  -4px / cover;

	&__section
		&-left
			padding: 55px 75px 33px;
			width: 36%;
			display: inline-block;
			background: url(../img/footer/footer-form-bg.png) no-repeat left top / cover #466e8b;
			opacity: 0;
			transform: rotate(-360deg) scale(0);
			position: relative;
			transition-duration: 1.5s;
			right: 48%;
			margin-left: 13.5%;
			margin-top: 1%;

			h5
				font-weight: 700;
				color: #fff
				font-size: 20px;
				text-transform: uppercase;
				width: 100%;
				text-align: center;
				margin-bottom: 13%;


		&-right
			display: inline-block;
			color: #fff
			width: 30%;
			position: absolute;
			bottom: 21.5%;
			right: 14.5%;
			transition-duration: 1s;
			opacity: 0;

			&:after
				position: absolute;
				top: -49%;
				right: 12.5%;
				content: ''
				display: inline-block;
				background: url(../img/footer/footer-logo.png) no-repeat left top / cover;
				height: 52px;
				width: 52px;

			&:before
				content: ''
				display: inline-block;
				position: absolute;
				top: 16.5%;
				right: 14.1%;
				height: 2px;
				width: 17%;
				background: #b1c2cd;
				transform-origin: left bottom
				transform: rotate(-60deg)

			h4, h5
				font-weight: 700;
				text-transform: uppercase;
				padding-bottom: 2%;

			h4
				font-size: 22px;
				border-bottom: 2px solid #b1c2cd;
				width: 69%;
				margin-bottom: 4%;
				transition-duration: 1s;

				span
					font-family: "Metropolis - Thin";
					font-weight: 400;

			h5
				font-size: 13px;
				display: block;
				position: relative;
				margin-bottom: 8%;

				span
					font-weight: 400;
					font-family: "Metropolis - Thin";

				&:after
					content: ''
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					top: 155%;
					height: 2px;
					width: 5%;
					background: #b1c2cd

	&-mail
		font-weight: 400;
		margin-bottom: 6%;
		font-size: 13px;
		display: block;

	&__socials
		list-style: none
		margin-bottom: 6%

		li
			margin-right: 0.5%;
			display: inline-block;

			a
				padding: 0 3px;

				img
					width: 53%;

			&:first-child
				a
					padding-left: 0;

	&__form
		display: grid;
		grid-template-columns: 145px 145px
		grid-template-rows: 0.5fr 0.5fr 3fr 1fr 0.9fr
		grid-template-areas: "form-input-name form-input-sapient" "form-input-email form-input-number" "form-textarea form-textarea" "form-btn form-btn" ". ."
		grid-gap: 3.5%
		transition-duration: 1s;
		margin: auto;

		input, textarea
			font-size: 12px;
			font-family: 'Metropolis';
			border-radius: 5px

			&:focus
				outline: none
				color: #3b7599;
				background: rgba(#fff, 0.7);

		input
			&[type="text"], &[type="email"], &[type="tel"]
				&[placeholder], &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder
					color: #3b7599;
							
		&-input
			font-weight: 400;
			padding: 8px 10px;
			boreder-radius: 5px 
			border: 0
			background: rgba(#7e9aae, 0.7);
			color: #fff
			border: 1px solid transparent
			transition-duration: .5s;

			&:first-child
				grid-area: form-input-name

			&:nth-child(2)
				grid-area: form-input-sapient

			&:nth-child(3)
				grid-area: form-input-email

			&:last-child
				grid-area: form-input-number

		&-textarea
			grid-area: form-textarea
			font-weight: 400;
			padding: 10px;
			boreder-radius: 5px 
			border: 0
			background: rgba(#7e9aae, 0.7);
			color: #fff
			transition-duration: 0.5s
			border: 1px solid transparent

		&-btn
			grid-area: form-btn
			grid-row-gap: 50%
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 5px;
			font-size: 10px;
			border: 2px solid #ffffff;
			background: transparent;
			font-weight: 700;
			padding: 10.3px 0;
			margin-top: 3%;
			color: #fff

			&:hover
				cursor: pointer
				background: #fff;
				color: #3b7599

	&-policy
		margin: auto;
		width: 100%;
		display: block;
		font-size: 11px;
		text-align: center;
		margin-top: 5%;
		color: #fff

@media (max-width: 1200px)
	.footer
		background: url(../img/footer/footer-bg.jpg) no-repeat 25%  top / cover;

		&__section
			&-left
				padding: 50px 75px;
				margin-left: 5%;

				h5
					font-size: 19px;

			&-right
				&:before
					top: 16.8%;
					right: -19%;
					width: 22%;

				&:after
					top: -63%;
					right: -19.5%;

				h4
					width: 97%;

		&__form
			margin-left: -3.5%;

@media (max-width: 1024px)
	.footer
		background: url(../img/footer/footer-bg.jpg) no-repeat 52%  top / cover;

		&__section
			&-left
				padding: 50px;

			&-right
				right: 13%;

				h4
					width: 88%;
					font-size: 27px;

				&:before
					top: 20.8%;
					right: -21%;
					width: 33%;

				&:after
					top: -75%;
					right: -17.5%;

		&__form
			margin-left: -6%;

@media (max-width: 992px)
	.footer
		padding-bottom: 50px;

		&__section
			&-left
				margin: auto;
				width: 50%;
				display: block;

			&-right
				display: block;
				position: relative;
				width: 50%;
				text-align: center;
				top: 0;
				right: 0;
				margin: auto;

				&:before, &:after
					display: none;

				h4
					margin-right: 0;
					width: 90%;
					margin: auto;
					margin-bottom: 5%;
					margin-top: 25%;
					font-size: 33px;

				h5
					&:after
						position: relative;
						margin: auto;
						margin-top: 5%;

		&__form
			margin-left: 11%;

@media (max-width: 768px)
	.footer
		&__form
			margin: auto;
			margin-left: -2%;

@media (max-width: 760px)
	.footer
		&__section
			&-left
				display: flex;
				flex-direction: column
				justify-content: center;
				align-items: center

		&__form
			grid-template-columns: 5fr
			grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 3fr 1fr 2fr
			grid-template-areas: "form-input-name" "form-input-sapient" "form-input-email" "form-input-number" "form-textarea" "form-btn" "."
			margin-right: 0;
			width: 100%;
			margin-left: 0;

@media (max-width: 480px)
	.footer
		&__section
			&-left
				width: 80%;
				padding: 50px 45px 35px;

				h5
					font-size: 20px;
					margin-bottom: 20%;

			&-right
				h4
					padding-bottom: 10%;
					margin-bottom: 10%;
					margin-top: 60%;
					width: 100%;
					font-size: 27px;

				h5
					&:after
						width: 45%;
						margin-top: 7%;

		&__form
			&-btn
				padding: 16px;
				margin-top: 7%;

		&-mail
			margin-bottom: 20%;
			margin-top: 15%;

		&__socials
			margin-bottom: 25%;
			display: flex;
			margin: auto;
			width: 90%;
			margin-left: 10%;
			justify-content: space-around;

			li
				margin-right: 15%;

				a
					img
						width: 90%;

		&-policy
			margin-top: 20%;

@media (max-width: 425px)
	.footer
		&__section
			&-left
				h5
					font-size: 17px;

			&-right
				h4
					font-size: 25px;

				h5
					line-height: 1.4em

		&-mail
			margin-top: 20%;

		&__socials
			margin-bottom: 25%;
			margin-left: 12%;

@media (max-width: 375px)
	.footer
		&__section
			&-left
				h5
					font-size: 15px;

			&-right
				width: 75%;

				h4
					font-size: 25px;

				h5
					line-height: 1.4em
		
		&__socials
			margin-left: 12%;

		&-policy
			font-size: 13px;


@media (max-width: 360px)
	.footer
		&__section
			&-left
				padding: 50px 35px 35px;

				h5
					font-size: 13px;

		&__form
			margin-left: 0%;