/* HEADER */

.header
	background: $color-primary;
	padding-bottom: 200px;
	background: url(../img/header/header-bg.png) no-repeat left top / cover #3b739f;

	&-grid
		display: grid;
		grid-template-columns: 1fr 1fr 10fr
		grid-template-rows: 2fr 5fr
		grid-row-gap: 110px
		align-items: center
		grid-template-areas: "header-logo . header-menu" ". header-text ."

	&-logo
		grid-area: header-logo
		
		img
			width: 190px;
			margin-top: -3%;
			margin-left: 11%;

	nav
		grid-area: header-menu
		position: relative;
		z-index: 1;
		justify-self: end
		margin-top: -3%;
		margin-right: 1.5%;

	&-menu
		list-style: none

		li
			margin-right: 9.8px;
			display: inline-block;

			&:last-child
				margin-right: 0;

		&__link
			color: #fff
			padding: 0 5px;
			font-family: 'Metropolis-Semi Bold'
			font-weight: 400
			font-size: 14px;
			
			&:hover
				color: darken(#fff, 15%)

	&-text
		grid-area: header-text
		font-family: 'Metropolis'
		font-weight: 700
		color: #fff
		font-size: 26px;
		width: 586px;
		margin-left: -4%;
		position: relative;
		z-index: 1;
		transition-duration: 1s;
		opacity: 0;
		margin-top: 5px;

		span
			font-family: 'Metropolis'
			font-weight: 400
			font-size: 18px;
			display: block;
			margin-top: 16px;
			margin-left: 1.5px;
			margin-bottom: 87px;

		&__btn
			color: $color-primary
			font-size: 15px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 700;
			font-family: 'Metropolis'
			padding: 13px 25px;
			text-align: center;
			background: #fff;
			border-radius: 5px;
			margin-left: 5px;
			border: 2px solid transparent

			&:hover
				background: transparent;
				border: 2px solid #fff;
				color: #fff

	&-image
		position: absolute;
		top: 0;
		right: 0;
		height: 93%;
		width: 42%;

@media (max-height: 500px)
	.header
		height: auto;

@media (max-width: 1200px)
	.header
		&-grid
			grid-template-columns: 1fr 1fr 1fr
			grid-template-areas: "header-logo header-menu ." ". header-text ."

		&-logo
			justify-self: center;

		nav
			justify-self: end
			margin-top: -4%;

		&-image
			height: 100%;

@media (max-width: 980px)
	.header
		&-grid
			grid-template-columns: 1fr 1fr
			grid-template-areas: "header-logo header-menu" "header-text ."
			grid-row-gap: 80px

		&-logo
			justify-self: start;
			margin-left: 7%;

		nav
			justify-self: start

		&-menu
			margin-left: -20%;

			&__link
				font-size: 13px;

		&-image
			height: 85%;

		&-text
			margin-left: 10%;
			font-size: 30px;
			align-self: end

			span
				margin-bottom: 10%;


@media (max-width: 950px)
	.header
		&-grid
			grid-template-columns: 1fr
			grid-template-rows: 2fr 1fr 5fr
			grid-template-areas: "header-logo" "header-menu" "header-text"
			grid-row-gap: 20px

		&-logo
			justify-self: start;
			margin-left: 8%;

		nav
			justify-self: start
			margin-left: 10%;
			margin-bottom: 5%;

		&-menu
			margin-left: 0%;

			&__link
				font-size: 17px;	

		&-text
			margin-left: 10%;
			font-size: 30px;
			align-self: start

			span
				margin-bottom: 10%;

@media (max-width: 768px)
	.header
		overflow: hidden;

		&-text
			font-size: 28px;

			span
				margin-bottom: 10%;

		&-image
			height: 75%;

@media (max-width: 550px)
	.header
		&-logo
			margin-left: 6%;

		nav
			ul
				li
					&:first-child
						a
							padding-left: 0;

		&-text
			font-size: 25px;

		&-image
			height: 60%;

@media (max-width: 480px)
	.header
		height: auto;

		&-grid
			grid-template-columns: 1fr 8fr 1fr
			grid-template-rows: 1fr 1fr 2fr
			grid-template-areas: ". header-logo ." "header-menu header-menu header-menu" ". header-text ."

		&-logo
			position: relative;
			z-index: 1;
			align-self: center
			text-align: center;
			width: 100%;
			margin-left: 0%;

		nav
			justify-self: center
			width: 100%;
			position: relative;
			margin-left: 0%;
			margin-bottom: 0;
			height: 100%;
			transition-duration: .5s

		&-menu
			margin-left: 0%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 50%;
			margin: auto;
			opacity: 0;
			position: relative;
			z-index: -1;
			height: 0;
			overflow: hidden
			transition-duration: .5s

			&__link
				font-size: 17px;

				&:first-child
					padding-left: 0px;

			&__btn
				position: absolute;
				top: -20%;
				left: 10%;
				background: transparent;
				height: 25px;
				width: 25px;
				
				&-line
					margin-bottom: 20%;
					display: block;
					width: 100%;
					height: 3px;
					background: #fff;
					transition-duration: .5s

					&:last-child
						margin-bottom: 0;

			&__active
				background: rgba(255, 255, 255, 0.2);
				height: 100%;
			
			&__active &__btn 
				&-line
					&:first-child
						transform: rotate(45deg) translateY(5px);
						width: 115%;

					&:nth-child(2)
						opacity: 0;

					&:last-child
						transform: rotate(-45deg) translateY(-11px) translateX(7px);
						width: 115%;

			&__active .header-menu
				opacity: 1;
				z-index: 1;
				overflow: visibility;
				height: 97%;

			&__active + .header-text
				margin-top: 0;

			&__active + .header-text + .header-image
				height: 50%;

		&-text
			margin-left: 0%;
			font-size: 22px;
			align-self: start
			width: 100%;
			text-align: center;
			margin-top: -20%;
			display: block;

			span
				margin-bottom: 25%;
				font-size: 18px;

			&__btn
				width: 80%;
				display: block;
				margin: auto;
				margin-bottom: 10%;

		&-image
			transition-duration: .5s
			height: 50%;
			width: 50%;

@media (max-width: 435px)
	.header
		&-text
			&__btn
				font-size: 17px;

@media (max-width: 375px)
	.header
		&-grid
			grid-row-gap: 10%

		nav
			justify-self: center
			margin-bottom: 5%;

		&-image
			height: 35%;

		&-menu
			&__link
				font-size: 17px;

			&__active + .header-text + .header-image
					height: 35%;	

		&-text
			font-size: 18px;
			

			span
				margin-bottom: 25%;
				font-size: 18px;

			&__btn
				width: 100%;

@media (max-width: 320px)
	.header
		&-menu
			&__link
				font-size: 15px;

			&__active + .header-text + .header-image
					height: 35%;

		&-image
			height: 35%;		

		&-text
			font-size: 16px;

			span
				margin-bottom: 25%;
				font-size: 18px;

			&__btn
				font-size: 16px;