/* POPUP */

.popup
	position: fixed;
	background: rgba(#000, 0.5)
	opacity: 0;
	transition-duration: 1s;
	height: 100%;
	width: 105%;
	z-index: 10;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center
	
	&__content
		position: relative
		top: -100%;
		transition-duration: .5s;
		right: 0;
		width: 100%;
		height: 130%;
		background: url(../img/popup/popup-content-img.png) no-repeat center center / contain;

		&-btn
			&-close
				position: absolute;
				height: 8%;
				width: 5%;
				top: 14.6%;
				right: 18.4%;
				background: $color-primary;
				transition-duration: 1s;

				&:hover
					background: #fff;

				&:hover .popup__content-btn-line
					background: $color-primary;

			&-line
				position: absolute;
				top: 47%;
				left: 32%;
				width: 35%;
				height: 4px;
				background: #fff;
				transition-duration: 0.5s;

				&:first-child
					transform: rotate(-45deg)

				&:last-child
					transform: rotate(45deg)

@media (max-width: 1024px)
	.popup
		&__content
			&-btn
				&-close
					top: 14.7%;
					right: 19%;

@media (max-width: 992px)
	.popup
		&__content
			&-btn
				&-close
					top: 14.7%;
					right: 16.8%;

@media (max-width: 768px)
	.popup
		&__content
			right: 0;
			left: -2.5%;
			background-size: cover;


			&-btn
				&-close
					height: 8%;
					width: 7%;
					top: 14.6%;
					right: 9%;

@media (max-width: 670px)
	.popup
		&__content
			&-btn
				&-close
					height: 8%;
					width: 7%;
					top: 11.5%;
					right: 11.2%;

@media (max-width: 600px)
	.popup
		&__content
			left: -2.2%;
			height: 100vh;
			width: 100vw;

			&-btn
				&-close
					height: 8%;
					width: 7%;
					top: 14.5%;
					right: 5.5%;

@media (max-width: 480px)
	.popup
		&__content
			background: url(../img/popup/popup-content-img.png) no-repeat 20% 45% / 280%;

			&-btn
				&-close
					width: 10%;
					top: 0;
					right: 0;

@media (max-width: 425px)
	.popup
		&__content
			background: url(../img/popup/popup-content-img.png) no-repeat 20% 45% / 300%;

			&-btn
				&-close
					width: 15%;

@media (max-width: 375px)
	.popup
		&__content
			background: url(../img/popup/popup-content-img.png) no-repeat 21.5% 45% / 350%;

@media (max-width: 350px)
	.popup
		&__content
			background: url(../img/popup/popup-content-img.png) no-repeat 22% 45% / 360%;

@media (max-width: 320px)
	.popup
		&__content
			background-position: 22% 40%;

			&-btn
				&-close
					width: 20%;
					height: 10%;