/* PORTFOLIO */

.portfolio
	padding: 110px 0 90px;
	transition-duration: 1s;
	transform: scale(0);
	opacity: 0;
	background: url(../img/portfolio/portfolio-bg.jpg) no-repeat left -100px / cover;

	&__section
		&-top
			margin-bottom: 8%;

			h4
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				color: $color-primary
				font-size: 26px;
				margin-bottom: 2%;

			p
				width: 50%;
				margin: auto;
				line-height: 23px;
				font-size: 13px;
				text-align: center;
				font-weight: 400;

		&-content
			margin: auto;
			width: 80%;
			
	&__work
		display: flex;
		flex-wrap: wrap
		width: 60%;
		justify-content: center;
		align-items: center
		margin: auto;
		margin-top: -2%;

		&-item
			display: flex;
			flex-direction: column
			justify-content: center;
			width: 47%;
			margin-right: 5%;
			margin-bottom: 8%;
			transition-duration: 1s;
			opacity: 0;

			&:nth-child(2), &:last-child
					margin-right: 0;

			img
				margin-bottom: 8%;
				transition-duration: 1s;
				height: 200px;

				&:hover
					box-shadow: 0 0 10px 3px rgba($color-dark, 0.3);

			figcaption
				align-self: center
				color: $color-dark;
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;

@media (max-width: 1200px)
	.portfolio
		background-position: left top;

		&__work
			&-item
				img
					height: 200px;

@media (max-width: 768px)
	.portfolio		
		&__work
			width: 90%;

			&-item
				img
					width: 100%;

@media (max-width: 600px)
	.portfolio	
		&__section
			&-content
				width: 85%;

		&__work
			&-item
				figcaption
					font-size: 15px;

@media (max-width: 480px)
	.portfolio	
		&__section
			&-top
				margin-bottom: 25%;

				h4
					margin-bottom: 7%;

				p
					width: 80%;

		&__work
			&-item
				width: 75%;
				margin-bottom: 20%;

				margin-right: 0;

				figcaption
					font-size: 16px;

@media (max-width: 425px)
	.portfolio	
		&__section
			&-top
				p
					font-size: 17px;

		&__work
			&-item
				width: 85%;

@media (max-width: 320px)
	.portfolio	
		&__section
			&-top
				p
					font-size: 17px;

		&__work
			&-item
				width: 95%;