/* SERVICES */

.services
	&-grid
		display: grid;
		grid-template-columns: 1fr
		grid-template-rows: 0.1fr 1fr 0.6fr
		grid-template-areas: "services-section-top" "services-section-center" "services-section-bottom"
		grid-row-gap: 50px

	&__section
		&-top
			grid-area: services-section-top
			margin-top: -12.2%;
			margin-left: -2%;

			h2
				text-transform: uppercase;
				color: $color-primary
				font-size: 27px;
				font-weight: 700;
				width: 100%;
				text-align: center;
				margin-bottom: 1.8%;

			p
				line-height: 23px;
				font-weight: 400;
				font-size: 12.5px;
				width: 48%;
				text-align: center;
				margin: auto;

		&-center
			grid-area: services-section-center
			padding: 50px 0 50px;
			display: grid;
			grid-template-columns: 1fr 1fr
			grid-template-rows: 1fr 0.5fr
			grid-template-areas: "services-item-1 services-item-2" "services-item-3 services-item-4" "services-item-5 services-item-5"
			grid-row-gap: 45px
			grid-column-gap: 60px
			width: 100%;
			overflow: hidden;
			margin-top: -16.3%;
			margin-left: -0.5%;

			&-item
				display: flex;
				flex-direction: column
				justify-content: space-between;
				display: inline-block;
				alin-items: center
				transition-duration: 1s;
				padding: 42px 33px;
				box-shadow: 0 0 70px rgba(79, 132, 170, 0.14);
				text-align: center;
				width: 350px
				height: 250px;
				position: relative;

				&:hover
					box-shadow: 0 0 70px rgba(79, 132, 170, 0.30);

				&:first-child
					grid-area: services-item-1
					justify-self: end
					align-self: end
					right: 100%;

				&:nth-child(2)
					grid-area: services-item-2
					justify-self: start
					align-self: end
					right: -100%;

				&:nth-child(3)
					grid-area: services-item-3
					justify-self: end
					right: 100%;

					img
						margin-top: -4%;

				&:nth-child(4)
					grid-area: services-item-4
					justify-self: start
					right: -100%;
					padding: 42px 35px;

					img
						margin-top: -5%;
						margin-bottom: 19px;

				&:last-child
					grid-area: services-item-5
					justify-self: center
					align-self: start
					right: 100%;

					img
						margin-top: -4%;

				img
					width: 13%;
					margin-bottom: 16px;

				h3
					font-size: 13.4px;
					font-weight: 700;
					color: $color-primary
					margin-bottom: 13px;
					text-transform: uppercase;

				p
					font-size: 10px;
					font-weight: 400;
					line-height: 18px;

		&-bottom
			grid-area: services-section-bottom
			overflow: hidden;
			margin-top: -4%;

			h4
				display: inline-block;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-weight: 500;
				color: #d0d0d0
				position: relative;
				font-size: 10px;
				margin: auto;
				margin-bottom: 70px;

				&:after, &:before
					display: inline-block;
					content: ''
					height: 1px;
					width: 12%;
					position: absolute;
					top: 50%;
					transform-origin: -50% -50%
					background: #d0d0d0;

				&:before
					left: 22%;

				&:after
					right: 22%;

			&-row
				display: flex;
				margin-bottom: 35px;
				transition-duration: 1s;
				position: relative;
				width: 72%;

				&:first-child, &:nth-child(3)
					right: 1500px;

				&:nth-child(2)
					right: -1500px;
					width: 62%;

					div
						&:first-child
							img
								width: 22%;

						&:nth-child(2)
							img
								width: 40%;

				&:nth-child(3)
					div
						&:first-child
							img
								width: 30%;

						&:last-child
							img
								width: 35%;

				&:nth-child(4)
					right: -1500px;
					width: 65%;

					div
						&:first-child
							img
								width: 30%;

						&:nth-child(4)
							img
								width: 35%;

						&:nth-child(5)
							img
								width: 30%;

				&:last-child
					width: 56%;
					right: 2000px;

					div
						&:first-child
							img
								width: 43%;

						&:nth-child(4)
							img
								width: 28%;

						&:nth-child(5)
							img
								width: 32%;

						&:last-child
							img
								width: 40%;

				div
					&:last-child
						border-right: 0

			&-technologies
				display: flex;
				justify-content: center;
				flex-direction: column
				align-items: center
				margin-left: 3%;

				&-item
					display: flex;
					align-items: center
					padding: 0 20px;
					border-right: 2px solid #e8e8e8;
					min-width: 10%;

					&:first-child
						img
							width: 25%;

					&:nth-child(3), &:nth-child(4)
						img
							width: 40%;

					&:nth-child(4)
						img
							width: 45%;

					&:nth-child(6)
						img
							width: 25%;

					img
						margin-right: 10px;
						width: 34%;

					span
						font-family: 'Open Sans', sans-serif;
						font-style: italic;
						font-weight: 400;
						font-size: 11px;

@media (max-width: 1200px)
	.services
		padding-top: 150px;

		&__section
			&-center
				&-item
					width: 85%

					&:last-child
						width: 42%;

					img
						margin-bottom: 6%;

					h3
						margin-bottom: 5%;

					p
						font-size: 13px;

			&-bottom
				&-technologies
					&-item
						padding: 0 15px;

						img
							width: 20%;

						span
							font-size: 11px;

@media (max-width: 1024px)
	.services
		padding-top: 100px;

		&__section
			&-top
				p
					font-size: 17px;

			&-bottom
				h4
					&:before
						left: 18%;

					&:after
						right: 18%;

					&-item
						justify-content: space-around;

						img
							margin-right: 4%;

				&-row
					&:first-child
						width: 85%

					&:nth-child(2)
						width: 68%;

@media (max-width: 992px)
	.services
		&__section
			&-top
				p
					width: 60%;

			&-bottom
				h4
					&:before
						left: 16%;

					&:after
						right: 16%;

				&-row
					&:nth-child(2)
						width: 70%;

@media (max-width: 768px)
	.services
		padding-bottom: 75px;

		&-grid
			grid-template-rows: 0.1fr 1fr 0.4fr

		&__section
			&-top
				h2
					font-size: 34px;

			&-center
				grid-template-columns: 1fr 10fr 1fr
				grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr
				grid-template-areas: ". services-item-1 ." ". services-item-2 ." ". services-item-3 ." ". services-item-4 ." ". services-item-5 ."

				&-item
					&:last-child
						width: 85%;
						justify-self: end;

			&-bottom
				h4
					&:before
						left: 12%;

					&:after
						right: 12%;

				&-row
					flex-wrap: wrap
					justify-content: center;
					margin-bottom: 0;
					width: 90%;

					&:last-child
						div
							&:nth-child(5)
								border-right: 0;

					div
						&:nth-child(4)
							border-right: 0;

				&-technologies
					width: 80%;
					margin: auto;

					&-item
						margin-bottom: 3%;

						img
							width: 25%;

						span
							font-size: 12px;

@media (max-width: 600px)
	.services
		&__section
			&-top
				p
					font-size: 15px;
					width: 75%;

			&-bottom
				h4
					font-size: 15px;

					&:before, &:after
						width: 7%;

					&:before
						left: 14%;

					&:after
						right: 14%;

				&-row
					div
						&:nth-child(3)
							border-right: 0;

					&:first-child
						div
							&:nth-child(4)
								border-right: 2px solid #e8e8e8;

					&:nth-child(2)
						div
							&:nth-child(4)
								border-right: 2px solid #e8e8e8;


					&:nth-child(3)
						div
							&:nth-child(4)
								border-right: 2px solid #e8e8e8;

							&:nth-child(5)
								border-right: 0;

							&:last-child
								border-right:  2px solid #e8e8e8;
								border-left: 2px solid #e8e8e8;

					&:nth-child(4)
						div
							&:nth-child(4)
								border-right: 2px solid #e8e8e8;

					&:last-child
						div
							&:nth-child(3), &:nth-child(5)
								border-right: 2px solid #e8e8e8;

				&-technologies
					&-item
						margin-bottom: 10%;

@media (max-width: 480px)
	.services
		padding-bottom: 75px;

		&-grid
			grid-template-rows: 0.1fr 1fr 0.4fr

		&__section
			&-top
				h2
					margin-bottom: 5%;

				p
					font-size: 15px;

			&-center
				grid-column-gap: 0; 

				&-item
					width: 95%;

					&:first-child
						justify-self: center;

					&:nth-child(2)
						justify-self: center;

					&:nth-child(3)
						justify-self: center;

					&:nth-child(4)
						justify-self: center;

					&:last-child
						width: 95%;
						justify-self: center;

			&-bottom
				h4
					&:before
						left: 10%;

					&:after
						right: 10%;

				&-row
					div
						&:nth-child(2)
							border-right: 0;

					&:first-child
						div
							&:nth-child(3)
								border-right: 2px solid #e8e8e8;

							&:nth-child(4)
								border-right: 0;

					&:nth-child(2)
						div
							&:nth-child(3)
								border-right: 2px solid #e8e8e8;

							&:nth-child(4)
								border-right: 0;

							&:last-child
								border-right: 2px solid #e8e8e8;
								border-left: 2px solid #e8e8e8;

					&:nth-child(3)
						div
							&:nth-child(3)
								border-right: 2px solid #e8e8e8;

							&:nth-child(4)
								border-right: 0;

							&:nth-child(5)
								border-right: 0;

							&:last-child
								border-right:  0;

					&:nth-child(4)
						div
							&:nth-child(3)
								border-right: 2px solid #e8e8e8;

							&:nth-child(4)
								border-right: 0;

					&:last-child
						div
							&:nth-child(2)
								border-right: 2px solid #e8e8e8;

							&:nth-child(3)
								border-right: 0;

							&:nth-child(4)
								border-right: 2px solid #e8e8e8;

							&:nth-child(5)
								border-right: 2px solid #e8e8e8;

@media (max-width: 375px)
	.services
		&__section
			&-top
				h2
					margin-bottom: 8%;

				p
					font-size: 14px;

			&-center
				&-item
					height: auto;

			&-bottom
				h4
					&:before
						display: none;

					&:after
						display: none;

				&-row
					div
						&:nth-child(2)
							border-right: 0;

					&:first-child
						div
							&:nth-child(3)
								border-right: 2px solid #e8e8e8;

							&:nth-child(5)
								border-left: 2px solid #e8e8e8;

							&:last-child
								border-left: 2px solid #e8e8e8;
								border-right: 2px solid #e8e8e8;


					&:nth-child(2)
						div
							&:nth-child(1)
								border-left: 2px solid #e8e8e8;

							&:nth-child(3)
								border-right: 0;
								border-left: 2px solid #e8e8e8;

							&:nth-child(4)
								border-right: 0;

							&:last-child
								border-right: 0;

					&:nth-child(3)
						div
							&:nth-child(5)
								border-left: 2px solid #e8e8e8;
								border-right: 2px solid #e8e8e8;

							&:last-child
								border-right:  2px solid #e8e8e8;

					&:last-child
						div
							&:nth-child(2)
								border-right: 0;

							&:nth-child(3)
								border-right: 0;

							&:nth-child(4)
								border-left: 2px solid #e8e8e8;
								border-right: 0;

							&:nth-child(5)
								border-right: 2px solid #e8e8e8;

@media (max-width: 320px)
	.services
		&__section
			&-bottom
				h4
					font-size: 13px;

				&-row
					div
						&:nth-child(2)
							border-right: 0;

					&:first-child
						div
							&:first-child, &:nth-child(2)
								border-right: 2px solid #e8e8e8;
								border-left: 2px solid #e8e8e8;

					&:nth-child(2)
						div
							&:nth-child(2)
								border-right: 0;

							&:nth-child(4), &:last-child
								border-right: 2px solid #e8e8e8;
								border-left: 2px solid #e8e8e8;

					&:nth-child(3)
						div
							&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:last-child
								border-left: 2px solid #e8e8e8;
								border-right: 2px solid #e8e8e8;

					&:nth-child(4)
						div
							&:nth-child(3), &:last-child
								border-left: 2px solid #e8e8e8;
								border-right: 2px solid #e8e8e8;

							&:nth-child(5)
								border-right: 0;
								border-left: 2px solid #e8e8e8;

				&-row
					width: 80% !important;
