/* SPECIFICATIONS */

body
	font-family: 'Metropolis';
	color: #868484;
	overflow: overlay;

body, html 
	width: 100%

* 
	box-sizing: border-box
	padding: 0
	margin: 0

a
	text-decoration: none;
	transition-duration: .5s;

	&:hover
		text-decoration: none;

.container
	max-width: 1250px
	margin: auto;

input
	transition-duration: 0.5s;

button
	transition-duration: .5s;
	border: none

	&:focus
		outline: none

	&:hover
		cursor: pointer

/* VALIDATE_FORMES_SPECIFICATION */

.error 
	border: 1px solid red !important;
